@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}

<section>
    <link href="~/css/login.css" rel="stylesheet" />
    <h1>Autenticação</h1>
    <form action="/login/Test" method="post">
        <input  type="email" name="email" value="@Model.Email" placeholder="Username/Email" />
        <input type="password" name="email" value="@Model.Password" placeholder="Senha"/>
        <a href="#">Esqueceu a senha?</a>
        <button type="submit" >Login</button>
        <label>Não tem conta?<a href="#">Clique aqui</a></label>
    </form>
    
</section>