@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}

<section>
    <link href="~/css/login.css" rel="stylesheet" />
    <h1>Autenticação</h1>
    <form>
        <input  type="email" name="email" id="email" value="@Model.Email" placeholder="Username/Email" />
        <input required type="password" name="password" id="password" value="@Model.Password" placeholder="Senha"/>
        <a href="#">Esqueceu a senha?</a>
        
    </form>
    <button onclick="login()">Login</button>
    <label>Não tem conta?<a href="/login/Signup">Clique aqui</a></label>
</section>
<script src="~/js/login.js"></script>


<script src="~/lib/jquery/dist/jquery.js"></script>