@{
    Layout = null;
}


<section>
    <h1>Crie sua conta gratuitamente</h1>
    <form>
        <input placeholder="UserName" />
        <input placeholder="Email" />
        <input placeholder="Senha" />
        <input placeholder="Confirmar senha" />
        <button>Criar</button>
             
    </form>


</section>